<div class="container">
  <h1>User Profile for <%= profile.username %> (ID: <%= profile.id %>)</h1>
  <!-- profile Details -->
  <form action="/update-profile" method="POST">
    <div class="profile-section">
      <h2>Profile Details:</h2>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="<%= profile.first_name %>">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="<%= profile.last_name %>">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="<%= profile.email %>">
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number:</label>
        <input type="tel" id="phone_number" name="phone_number" value="<%= profile.phone_number %>">
      </div>
    </div>
    <!-- username & password -->
    <h2>User Details:</h2>
    <div class="profile-section">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= profile.username %>">
      </div>
      <div class="form-group">
        <label for="new_password">New Password: (optional)</label>
        <input type="password" id="new_password" name="new_password" value="">
      </div>
      <div class="form-group">
        <label for="confirm_username">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" value="">
      </div>
    </div>
    <div class="button-group">
      <button type="submit" class="btn-primary">Save</button>
    </div>
  </form>
</div>